extends layout

block content
  h1= title

  if (user)
    p Welcome #{user.full_name}!
    button
      a(href='/logout') Log Out
  else
    p Welcome to #{title}
    button 
      a(href='/signup') Sign Up