extends layout

block content
  h1= title

  if currentUser
    p Welcome #{currentUser.full_name}!
    p Membership Status: #{currentUser.membership}
    if currentUser.membership !== 'premium'
      button
        a(href='/user/upgrade') Become a Premium Member
    button
      a(href='/user/logout') Log Out
  else
    p Welcome to #{title}
    button 
      a(href='/user/signup') Sign Up
    button
      a(href='/user/login') Log In