body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  background-color: lightgray;
  border-radius: 15px;
  box-shadow: 1px 1px 10px gray;
  padding: 1rem;
}
